{% set prefix = "" %}
{% if type != "mixed" %}
{% set prefix = "/" + type %}
{% endif -%}
{% if listing %}
{% set prefix = prefix + "/" + listing %}
{% else %}
{% set prefix = prefix + "/available"  %}
{% endif -%}


<section class='links' >  

    {% if hemisphere == "northern" %}
    <p class='small'>View <a href="{{ prefix }}/southern">southern</a> hemisphere{% if type != "mixed" %} {{type }}{% endif -%}.</p>
    {% elif hemisphere == "southern" %}
    <p class='small'>View <a href="{{ prefix }}/northern">northern</a> hemisphere{% if type != "mixed" %} {{type }}{% endif -%}.</p>
    {% else %}
    <p class='small'>View <a href="{{ prefix }}/northern">northern</a> or <a href="{{ prefix }}/southern">southern</a> hemisphere{% if type != "mixed" %} {{type }}{% endif -%}.</p>
    {% endif -%}

    <p class='small'><a href="#month">View a monthly breakdown</a> of Animal Crossing New Horizon data.</p>
</section>
