<tr 
    data-id="{{ item.id }}"
    class=""
>
    <td>
        {% include "_includes/partials/critter/is.njk" -%}
        <a href="{{ item | iUrl }}">{% include "_includes/partials/critter/images/thumb.njk" -%}</a>
    </td>

    <th><a href='{{ item | iUrl }}' title='{{ item | iTitle }}'>{{ item | iTitle }}</a></th>

    {% if item.has.location %}
    <td class='can-hide'>{{ item.attributes.availability.location }}</td>
    {% endif -%}

    {% if item.has.rarity %}
    <td class='can-hide'>{{ item.attributes.availability.rarity }}</td>
    {% endif -%}

    {% if item.attributes.availability.months.always %}
    <td>All Year</td>
    {% else %}
    <td class="double">
        <span class='is-n'>{{ item.attributes.availability.months.northern.text }}</span>
        <span class='is-s'>{{ item.attributes.availability.months.southern.text }}</span>
    </td>
    {% endif -%}

    {% if item.has.shadow %}
    <td class='can-hide'>{{ item.attributes.shadow }}</td>
    {% endif -%}

    {% if item.has.speed %}
    <td class='can-hide'>{{ item.attributes.speed }}</td>
    {% endif -%}

    {% if item.has.price %}
    <td class='price can-hide'>{{ item.attributes.prices.store }}</td>
    {% endif -%}

</tr>
