<section class='category'>
{% if hemisphere %}
<p>The listing below is for the <strong>{{ hemisphere }}</strong> hemisphere.</p>
{% else %}
<p>The listing below is for <strong>both</strong> hemispheres.</p>
{% endif -%}
</section>
