<nav class="grid navigation" id="footer-navigation">
    {% include "_includes/partials/navigation/main.njk" %}
</nav>

<section id="footer">
    <p class='small'>Animal Crossing: New Horizons data from <a href="https://acnhapi.com">ANCH API</a></p>
</section>

<script src="/assets/js/app.js"></script>
{% include "_includes/partials/footer/ga.njk" %}