<h3><span class='slab'>Blathers says...</span></h3>
<blockquote class="museum-phrase grid">
    <img class="grid__item" src="/assets/ui/npc-images/blathers.png" />
    <p class='grid__item'>{{ item | iMuseum }}</p>
</blockquote>
