{% if item.has.shadow %}
<li class="data__row">
    <strong class="data__row__key align__left  key key__shadow">Shadow:</strong>
    <span class="data__row__value align__right">{{ item.attributes.shadow }}</span>
</li>
{% endif -%}